<section class="filter">

    <article class="filter__colour">
        
            <a href="/store?product__colour=salmon" class="filter__salmon">
                <img src="./imagenesTienda/filtros/salmon.png">
            </a>

            <a href="/store?product__colour=rosado" class="filter__rosado">
                <img src="./imagenesTienda/filtros/rosado.png">
            </a>

            <a href="/store?product__colour=turqueza" class="filter__turqueza">
                <img src="./imagenesTienda/filtros/turqueza.png">
            </a>

            <a href="/store?product__colour=azul" class="filter__azul">
                <img src="./imagenesTienda/filtros/azul.png">
            </a>

            <a href="/store?product__colour=verde" class="filter__verde">
                <img src="./imagenesTienda//filtros/verde.png">
            </a>

            <a href="/store?product__colour=blanco" class="filter__blanco">
                <img src="./imagenesTienda/filtros/blanco.png">
            </a>

            <a href="/store?product__colour=gris"  class="filter__gris">
                <img src="./imagenesTienda/filtros/gris.png">
            </a>

            <a href="/store?product__colour=negro" class="filter__negro">
                <img src="./imagenesTienda/filtros/negro.png">
            </a>

            <a href="/store?product__colour=cafe" class="filter__cafe">
                <img src="./imagenesTienda/filtros/cafe.png">
            </a>
    </article>


    <article class="filter__size">
            <a  type="none">
                <img src="./imagenesTienda/filtroTres1.png">
                <h3>Todos</h3>
            </a>

            <a href="/store?product__size=25 OZ" type="none">
                <img src="./imagenesTienda/filtroTres2.png">
                <h3>25 OZ</h3>
            </a>

            <a href="/store?product__size=16 OZ" type="none">
                <img src="./imagenesTienda/filtroTres3.png">
                <h3>16 OZ</h3>
            </a>

            <a href="/store?product__size=9 OZ" type="none">
                <img src="./imagenesTienda/filtroTres4.png">
                <h3>9 OZ</h3>
            </a>
    </article>

</section>