<section class="landing">

            <article class="landing__container">

                <h1>REGÍSTRATE PARA DESCUENTOS EXCLUSIVOS</h1>
                <input type="CORREO">
                <button>ENVIAR</button>

            </article>

</section>