<section class="landing">

            <article class="landing__text">
                <h1>REGÍSTRATE PARA DESCUENTOS EXCLUSIVOS</h1>
            </article> 

            <article class="landing__clik"> 

                <input type="CORREO">
                <button>ENVIAR</button>

            </article>

            

</section>