 <nav class="nav">

            <section class="nav__logo">
                <img class="nav__imag" src="./imagenesTienda/logo.png" alt="Logo Corkcicle">
            </section>

            <section class="nav__tags">

                <ul type="none" class="nav_ul">
                    <li class="nav__Busqueda">
                       <a><img src="./imagenesTienda/iconoBusqueda.png" alt="Busqueda"></a> 
                    </li>
                    <li class="nav__Usiario">
                        <a><img src="./imagenesTienda/iconoUsuario.png" alt="Usuario"></a>
                    </li>
                    <li class="nav__Compra">
                        <a><img src="./imagenesTienda/iconoCompra.png" alt="Compra"></a>
                    </li>
                </ul>
            </section>
        </nav>