<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Corkcicle</title>
    <link href="./style/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
</head>

<body>
    <section id="headerimg">

        <nav class="nav">

            <section class="nav__logo">
                <img class="nav__imag" src="./imagenesTienda/logo.png" alt="Logo Corkcicle">
            </section>

            <section class="nav__tags">

                <ul type="none" class="nav_ul">
                    <li class="nav__Busqueda">
                        <img src="./imagenesTienda/iconoBusqueda.png" alt="Busqueda">
                    </li>
                    <li class="nav__Usiario">
                        <img src="./imagenesTienda/iconoUsuario.png" alt="Usuario">
                    </li>
                    <li class="nav__Compra">
                         <img src="./imagenesTienda/iconoCompra.png" alt="Compra">
                    </li>
                </ul>
            </section>
        </nav>

    <section class="infoProduct">

     <article class="infoProduct__image">
         <button ><img src="./imagenesTienda/iconoFlecha.png" >
         </button>

         <img src="{{productImage}}" alt="productImage">

         <button ><img src="./imagenesTienda/iconoFlecha.png" >
         </button>
     </article>

     <article class="infoProduct__description">

         <div class="infoProduct__text">
             <h1>{{productName}}</h1>
             <h2>{{producPrice}}</h2>
             <p>
               {{producDescription}}
             </p>
         </div>

         <div class="infoProduct__options">
           <aside class="infoProduct__quantity">
               <h3 class="infoProduct__subTitle">ELIGE LA CANTIDAD:</h3>
               <button></button>
           </aside>

            <aside class="infoProduct__buy">
                <button>AÑADIR AL CARRITO</button>
            </aside>
         </div>      
     </article>         
                 
    </section>  
</section>


<main class="prducts">

    <section class="characters">

        <article class="characters__one">
              <img src="./imagenesTienda/iconoCaract1.png" >
        </article>

        <article class="characters__two">
              <img src="./imagenesTienda/iconoCaract2.png" >
        </article>

        
        <article class="characters__three">
              <img src="./imagenesTienda/iconoCaract3.png" >
        </article>
        
    </section>


     <section class="return">

        <article class="return__options">
         <h3>VOLVER ARRIBA</h3>
         <img src="./imagenesTienda/iconoFlecha.png" alt="return">

        </article>
        
    </section>
                 
    <footer class="footer">

            <section class="footer__logos">
                <img clas="footer__logo" src="./imagenes/logo.png" alt="logo">
            </section>

            <section class="footer__info">

                <article clas="footer__tags">
                    <ul type="none">
                        <li>
                            <h2>EMPRESA</h2>
                        </li>
                        <li> Acerca de</li>
                        <li> Estilo de vida</li>
                        <li> Carreras</li>
                        <li> Tarjeta de regalo</li>
                    </ul>
                </article>

                <article clas="footer__tags">
                    <ul type="none">
                        <li>
                            <h2>APOYO</h2>
                        </li>
                        <li> Devoluciones</li>
                        <li> Garantía</li>
                        <li> Preguntas más frecuentes</li>
                        <li> Política de privacidad</li>
                    </ul>
                </article>

                <article clas="footer__tags">
                    <ul type="none">
                        <li>
                            <h2>MAYORISTA</h2>
                        </li>
                        <li> Conviértase en un minorista</li>
                        <li> Internacional</li>
                        <li> Políticas de precios</li>
                    </ul>
                </article>

                <article clas="footer__tags">
                    <ul type="none">
                        <li>
                            <h2>CONTACTOS</h2>
                        </li>
                        <li> Contáctenos</li>
                        <li> Pedidos personalizados</li>
                    </ul>
                </article>
            </section>

            <section class="footer__incons">
                <img class="footer__incon" src="./imagenes/instagram.png" alt="facebook">
                <img class="footer__incon" src="./imagenes/facebook.png" alt="instagram">
                <img class="footer__incon" src="./imagenes/twitter.png" alt="pinterest">
                <img class="footer__incon" src="./imagenes/pinterest.png" alt="twitter">
            </section>

            <section class="footer__text">
                <h3> HEWY WINE CHILLER LLC 2018 </h3>
            </section>
    </footer>

    </main>

    <script src="./style/script.js"></script>
</body>

</html>