<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Corkcicle</title>
    <link href="/style/OldStyle/main.css" rel="stylesheet">
    <link rel="stylesheet" media="(max-width: 700px)" href="main.css" />
    <link rel="stylesheet" media="(max-width: 650px)" href="main.css" />
    <link rel="stylesheet" media="(max-width: 867px)" href="main.css" />
    <link rel="stylesheet" media="(max-width: 400px)" href="main.css" />
    <link rel="stylesheet" media="(max-width: 500px)" href="main.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
</head>

<body>

    <section id="headerimg">

        <nav class="nav">

            <section class="nav__logo">
                <a class="nav__img" href=""> <img  src="./imagenesTienda/logo.png" alt="Logo Corkcicle"></a>
            </section>

            <section class="nav__tags">
                <ul type="none" class="nav_ul">
                    <li class="nav__li">
                        <a  href="/store"> Termos</a>
                    </li>
                    <li class="nav__li">
                        <a>Enfriadores</a>
                    </li>
                    <li class="nav__li">
                        <a>Extras</a>
                    </li>
                    <li class="nav__li">
                        <a>Colecciones</a>
                    </li>
                </ul>
            </section>
        </nav>

        <header class="header">

            <h1 class="header__title">COMO USARLO, ES
                <br> TU DECISIÓN</h1>
            <h2 class="header__subtitle">FRIO O CALIENTE, LA TEMPERATURA
                <br> SE MANTIENE</h2>
            <button class="header__button"> COMPRAR </button>

        </header>
    </section>


    <main class="objects">
        <section class="publicity">
            <article class="publicity__title">
                <h1>EOLA BUCKET BAG</h1>
                <p>Manten tus manos
                    <br>libres y tus bebidas frías</p>
            </article>

            <article class="publicity__text">
                <p class="publicity__p">La bolsa de cubo Eola fue diseñada
                    <br> con la máxima portabilidad en mente.
                    <br> Ideal para caminatas, picnics,
                    <br> festivales de música y más. </p>
            </article>
        </section>


        <section class="qualitie">

            <article class="qualitie__one">
                <article class="qualitie__squares">
                    <img class="qualitie__imag" src="./imagenes/CanteenUno.png" alt="Canteen">
                </article>

                <article class="qualitie__square1">
                    <img class="qualitie__icon" src="./imagenes/iconoUno.png" alt="icon">
                </article>
            </article>

            <article  class="qualitie__one">
                <article class="qualitie__square2">
                    <img class="qualitie__icon" src="./imagenes/iconoDos.png" alt="icon">
                </article>

                <article class="qualitie__squares">
                    <img class="qualitie__imag" src="./imagenes/CanteenDos.png" alt="Canteen">
                </article>
            </article>

            <article class="qualitie__one">
                <article class="qualitie__squares">
                    <img class="qualitie__imag" src="./imagenes/CanteenTres.png" alt="Canteen">
                </article>

                <article class="qualitie__square3">
                    <img class="qualitie__icon" src="./imagenes/iconoTres.png" alt="icon">
                </article>
            </article>
        </section>


        <section class="interaction">

            <div class="interaction__line">

            </div>

            <article class="interaction__title">
                <h1>Escoge tu Termo</h1>
            </article>

            <article class="interaction__subtitle">
                    <h2>Da click para visualizar 
                    <br>el estilo que quieres</h2>
                </article>

            <article class="interaction__place">
                <img id="interaction__img"src="./imagenes/intraction1.png" alt="CanteenStyle">
            </article>

            <div class="interaction__line">
                
            </div>
        </section>

        <section class="gallery">

            <section class="gallery__section">
                <article class="gallery__parent">
                        <img id="gallery_one" class="gallery__image" src="./imagenes/galeriaUno.png" alt="">       
                    </article>
        
                    <article class="gallery__parent">
                        <img id="gallery_two" class="gallery__image" src="./imagenes/galeriaDos.png" alt="">        
                    </article>
        
                    <article class="gallery__parent">
                        <img id="gallery_three" class="gallery__image" src="./imagenes/galeriaTres.png" alt="">        
                    </article>        
            </section>

            <section class="gallery__section">
                <article class="gallery__parent">
                        <img id="gallery_four" class="gallery__image" src="./imagenes/galeriaCuatro.png" alt="">        
                    </article>
        
                    <article class="gallery__parent">
                        <img id="gallery_five" class="gallery__image" src="./imagenes/galeriaCinco.png" alt="">        
                    </article>
        
                    <article class="gallery__parent">
                        <img id="gallery_six" class="gallery__image" src="./imagenes/galeriaSeis.png" alt="">        
                    </article>
            </section>
               
               
        </section>

        <section class="info">
            <article class="info__image">

                <img src="./imagenes/CanteenShop.png" alt="">


            </article>

            <article class="info__block">

                <h1 class="info__title">Deshazte del refrigerador
                    <br> Manten la calma
                </h1>

                <p class="info__text">
                    Disfruta de tu bebida favorita fría o caliente en cualquier momento y en cualquier lugar. Hecho a mano en acero inoxidable
                    con aislamiento triple patentado. Mantiene bebidas heladas hasta por 25 horas o calientes hasta por 12
                    horas, sin congelar ni sudar. Se mantiene frio por mas tiempo si la bebida contienen hielo.
                </p>

                <ul class="info__list">
                    <li> A prueba de deslizamiento, fondo de silicona </li>
                    <li> Fácil agarre en los lados</li>
                    <li> Tapa de roscada</li>
                </ul>

                <button class="info__button">Comprar</button>

            </article>
        </section>
         
         {{>landing}}
         {{>footer}}
       
    </main>
    <script src="/style/script.js"></script>
</body>

</html>