.nav {
    overflow: hidden;
    width: 80%;
    height: 123px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    -webkit-box-shadow: -4px 18px 20px -8px rgba(0,0,0,0.23);
    -moz-box-shadow: -4px 18px 20px -8px rgba(0,0,0,0.23);
    box-shadow: -4px 18px 20px -8px rgba(0,0,0,0.23);
    margin: 0;
    margin-right: 0;
    
    &__imag{
      max-width: 50%;
    }

    &__tags{
      margin: 0;
      padding: 0;
    }

    &__tag{
     height:20%;
     height: auto;
    }

    ul{
      display: flex;
      align-items: center;
    }

    li{
      text-align: center;
      padding: 10px;
      text-decoration: none;
    }

    @media screen and(max-width: 867px){  
      overflow: hidden;
      width: 100%;
      height: 120px;
      height: fit-content, 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
        
     

          
    }
  }
  
 
  

  