body {
    max-width: 1718px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    margin: auto;
    background-color: #ffd11b23; 
    height: fit-content;

}
@import "../NewStyle/navStore";
@import "../NewStyle/footer";

.return{
    text-align: center;

}


