body {
  max-width: 1718px;
  width: 100%;
  font-family: 'Lato', sans-serif;
  margin: auto;
  background-color: #ffd11b23;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.nav {
  overflow: hidden;
  width: 80%;
  height: 123px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: -4px 18px 20px -8px rgba(0, 0, 0, 0.23);
  box-shadow: -4px 18px 20px -8px rgba(0, 0, 0, 0.23);
  margin: 0;
  margin-right: 0;
}

.nav__imag {
  max-width: 50%;
}

.nav__tags {
  margin: 0;
  padding: 0;
}

.nav__tag {
  height: 20%;
  height: auto;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav li {
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

@media screen and (max-width: 867px) {
  .nav {
    overflow: hidden;
    width: 100%;
    height: 120px;
    height: -webkit-fit-content, 100px;
    height: -moz-fit-content, 100px;
    height: fit-content, 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer {
  text-align: center;
  padding-top: 3%;
  background-color: #ffffff;
}

.footer img {
  max-width: 16%;
}

.footer ul {
  text-align: center;
}

.footer__info {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer li {
  margin-top: 10%;
  font-weight: 300;
  color: black;
  font-size: 15px;
}

.footer h2 {
  font-weight: 900;
  color: black;
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 20%;
}

.footer__incon {
  width: 40px;
  margin: 15px;
  margin-top: 5%;
}

.footer__text {
  padding-top: 2%;
  padding-bottom: 5%;
  font-weight: lighter;
  font-size: 10px;
  color: #000000;
  letter-spacing: 5px;
}

@media screen and (max-width: 650px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.return {
  text-align: center;
}
/*# sourceMappingURL=mainStore.css.map */