body {
  max-width: 1920px;
  width: 100%;
  font-family: 'Lato', sans-serif;
  margin: auto;
  background-color: #ffd11b23;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.nav {
  overflow: hidden;
  max-width: 1300px;
  width: 100%;
  height: 90px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: auto;
  -webkit-box-shadow: -4px 18px 20px -8px rgba(0, 0, 0, 0.103);
  box-shadow: -4px 18px 20px -8px rgba(0, 0, 0, 0.103);
}

.nav__imag {
  max-width: 80%;
  width: 250px;
  margin: 0%;
  margin-left: 5%;
  padding: 0%;
}

.nav__tag {
  height: 20%;
  padding: 0;
}

.nav__tags {
  margin-right: 3%;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav li {
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

.nav li img {
  max-width: 80%;
  width: 70px;
  height: auto;
}

@media screen and (max-width: 867px) {
  .nav {
    overflow: hidden;
    width: 100%;
    height: 120px;
    height: -webkit-fit-content, 100px;
    height: -moz-fit-content, 100px;
    height: fit-content, 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer {
  text-align: center;
  padding-top: 3%;
  background-color: #ffffff;
}

.footer img {
  max-width: 16%;
}

.footer ul {
  text-align: center;
}

.footer__info {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer li {
  margin-top: 10%;
  font-weight: 300;
  color: black;
  font-size: 15px;
}

.footer h2 {
  font-weight: 900;
  color: black;
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 20%;
}

.footer__incon {
  width: 40px;
  margin: 15px;
  margin-top: 5%;
}

.footer__text {
  padding-top: 2%;
  padding-bottom: 5%;
  font-weight: lighter;
  font-size: 10px;
  color: #000000;
  letter-spacing: 5px;
}

@media screen and (max-width: 650px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.header {
  background-image: url("/imagenesTienda/footerTienda0.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  max-width: 1300px;
  width: 100%;
  height: 500px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 0%;
  text-align: center;
  color: #ffffff;
}

.return {
  text-align: center;
  opacity: .5;
}

.return__clik {
  text-decoration: none;
  color: #000;
  font-weight: 200;
  font-size: 15px;
}

.filterOne {
  max-width: 1300px;
  width: 100%;
  height: 379px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  background-color: #fff;
}

.filterOne__canten {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #FFD800;
}

.filterOne__coolers {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #00CA95;
}

.filterOne__extras {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #FF9274;
}

.filterOne__collections {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #F86BBD;
}

.nameFilter {
  max-width: 1100px;
  width: 100%;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nameFilter__line {
  height: 3px;
  width: 30%;
  background-color: #000000;
}

.nameFilter__title {
  padding: 2%;
  font-size: 35px;
  font-weight: bold 700;
  color: #000000;
}

.products {
  max-width: 1100px;
  width: 100%;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.product__parent {
  margin-bottom: 3%;
  padding: 2%;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 25%;
  height: auto;
}

.product__parent h2 {
  font-size: 25px;
  font-weight: 400;
  color: #000000;
  padding-left: 1%;
  padding-right: 1%;
}

.product__parent img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.product__parent button {
  font-size: 20px;
  font-weight: 200;
  color: #ffffff;
  width: 100%;
  height: 45px;
  background-color: #000000;
  border: 0ch;
}
/*# sourceMappingURL=mainStore.css.map */