body {
    max-width: 1920px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    margin: auto;
    background-color: #ffd11b1f;
    height: fit-content;
}

@import "../NewStyle/navStore";
@import "../NewStyle/landing";
@import "../NewStyle/footer";
@import "../NewStyle/filters";



.header {
    background-image:url("/imagenesTienda/footerTienda0.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    max-width: 1300px;
    width: 100%;
    height: 500px;
    margin: auto;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    
    &__title{
      font-weight: 700;
      font-size: 35px;
      margin-bottom: 0%;
      text-align: center;
      color: #ffffff;
    }
}

.return {
    text-align: center;
    opacity: .5;


    &__clik{
        text-decoration: none;
        color: #000;
        font-weight: 200;
        font-size: 15px;
    }
}

.filterOne {
    max-width: 1300px;
    width: 100%;
    height: 379px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: #fff;


    img{
        width: 100%;
        height: auto;
        margin: auto;
    }

    &__clasico{
        width: 60%;
        margin: auto;
        height: auto;
        
    }

    &__metalico {
        width: 60%;
        margin: auto;
        height: auto;
        
    }

    &__gimnasio {
        width: 60%;
        margin: auto;
        height: auto;
       
    }

    &__surf {
        width: 60%;
        margin: auto;
        height: auto;
       
    }
}

.nameFilter{
    max-width: 1100px;
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: baseline;
    justify-content: space-between;
   

     &__line{
         height: 3px;
         width: 30%;
         background-color: #000000;
       
     }
         
     &__title{
         padding: 2%;
         font-size: 35px;
         font-weight: bold 700;
         color: #000000;
     }
}

 
.products {
    max-width: 1100px;
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    
    &__parent {
        margin-bottom: 3%;
        padding: 2%;
        align-content: center;
        width: 25%;
        height: auto;
        
        h2{
            font-size: 25px;
            font-weight: 400;
            color: #000000;
            padding-left: 1%;
            padding-right: 1%;
        }

        &__size{
            font-size: 25px;
            font-weight: 100;
            color: #000000;
            padding-left: 1%;
            padding-right: 1%;

        }

        &__price{
            font-size: 25px;
            font-weight: 300;
            color: #000000;
            padding-left: 1%;
            padding-right: 1%;

        }



        img {
           width: 100%;
           height: auto;
           border-radius: 50%;
        }

        button{           
            font-size: 20px;
            font-weight: 200;
            color: #ffffff;
            width: 100%;
            height: 45px;
            background-color: #000000;
            border: 0ch;
        }
    }
}


