body {
  max-width: 1920px;
  width: 100%;
  font-family: 'Lato', sans-serif;
  margin: auto;
  background-color: #ffd11b1f;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.nav {
  overflow: hidden;
  max-width: 1300px;
  width: 100%;
  height: 90px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: auto;
  -webkit-box-shadow: -4px 18px 20px -8px rgba(0, 0, 0, 0.103);
  box-shadow: -4px 18px 20px -8px rgba(0, 0, 0, 0.103);
}

.nav__imag {
  max-width: 80%;
  width: 250px;
  margin: 0%;
  margin-left: 5%;
  padding: 0%;
}

.nav__tag {
  height: 20%;
  padding: 0;
}

.nav__tagss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 3%;
}

.nav__tagss p {
  width: 26%;
  padding: 1px;
  margin: auto;
  height: auto;
  background-color: #ffab3c;
  border-radius: 50%;
  color: #ffffff;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav li {
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

.nav li img {
  max-width: 80%;
  width: 70px;
  height: auto;
}

@media screen and (max-width: 867px) {
  .nav {
    padding: 5%;
    overflow: hidden;
    width: 100%;
    height: 120px;
    height: -webkit-fit-content, 100px;
    height: -moz-fit-content, 100px;
    height: fit-content, 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__imag {
    max-width: 80%;
    width: 250px;
    margin: 5%;
  }
  .nav__tagss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.landing {
  background-color: #000000;
  max-width: 1300px;
  width: 100%;
  height: 200px;
  padding: 30px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.landing h1 {
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
  word-spacing: 0.3cm;
}

.landing input {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  width: 320px;
  height: 45px;
  background-color: #000000;
  border: 1.5px solid white;
}

.landing button {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  width: 120px;
  height: 45px;
  background-color: #000000;
  border: 1.5px solid white;
  margin-left: 20px;
}

@media screen and (max-width: 500px) {
  .landing button {
    margin-top: 2%;
  }
  .landing input {
    margin-top: 1%;
    margin-bottom: 2%;
  }
  .landing h1 {
    font-size: 5vh;
    margin-bottom: 1%;
  }
}

.footer {
  text-align: center;
  padding-top: 3%;
  background-color: #ffffff;
}

.footer img {
  max-width: 16%;
}

.footer ul {
  text-align: center;
}

.footer__info {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer li {
  margin-top: 10%;
  font-weight: 300;
  color: black;
  font-size: 15px;
}

.footer h2 {
  font-weight: 900;
  color: black;
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 20%;
}

.footer__incon {
  width: 40px;
  margin: 15px;
  margin-top: 5%;
}

.footer__text {
  padding-top: 2%;
  padding-bottom: 5%;
  font-weight: lighter;
  font-size: 10px;
  color: #000000;
  letter-spacing: 5px;
}

@media screen and (max-width: 650px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.infoProduct {
  max-width: 1300px;
  width: 100%;
  height: auto;
  padding: 2px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.infoProduct__image {
  width: 50%;
  margin: auto;
  height: auto;
  padding-left: 2%;
}

.infoProduct__line {
  height: 3px;
  width: 80%;
  background-color: #000000;
}

.infoProduct .description {
  width: 50%;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding-left: 2%;
}

.infoProduct .description__text {
  color: #000000;
}

.infoProduct .description__text h1 {
  margin: 1px;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 6pt;
}

.infoProduct .description__text h3 {
  margin: 1px;
  font-size: 25px;
  font-weight: 300;
}

.infoProduct .description__text h2 {
  margin: 1px;
  font-size: 40px;
  font-weight: 400;
}

.infoProduct .description__text h2::before {
  content: "$ ";
}

.infoProduct .description__text p {
  line-height: 20pt;
}

.infoProduct .description__text .text_1 {
  font-size: 20px;
  font-weight: 300;
}

.infoProduct .description__text ul {
  font-size: 28px;
  font-weight: 300;
  padding: 2px;
}

.infoProduct .description__text ul li {
  padding: 1%;
}

.infoProduct .description__options {
  padding-top: 3%;
}

.infoProduct .description__options button {
  font-size: 18px;
  font-weight: 200;
  color: #000000;
  width: 40%;
  height: 45px;
  margin: auto;
  border: 2px;
  border-color: #000000;
  border-style: solid;
  background-color: transparent;
}

.tags {
  max-width: 1200px;
  width: 100%;
  height: 210px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.tags img {
  width: 100%;
  height: auto;
  margin: auto;
}

.tags__tagOne {
  width: 20%;
  padding: 5px;
  margin: auto;
  height: auto;
  background-color: #00ba7d;
  border-radius: 50%;
}

.tags__tagTwo {
  width: 20%;
  padding: 5px;
  margin: auto;
  height: auto;
  background-color: #ffd21b;
  border-radius: 50%;
}

.tags__tagThree {
  width: 20%;
  padding: 5px;
  margin: auto;
  height: auto;
  background-color: #c6b5b9;
  border-radius: 50%;
}

@media screen and (max-width: 867px) {
  .infoProduct {
    max-width: 1300px;
    width: 100%;
    height: auto;
    padding: 5%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .infoProduct__image {
    width: 100%;
    margin: auto;
    height: auto;
    padding-left: 2%;
  }
  .infoProduct .description {
    width: 100%;
    height: auto;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: justify;
    padding-left: 2%;
  }
  .infoProduct .description__buy {
    padding-top: 3%;
    -webkit-box-pack: center, button;
        -ms-flex-pack: center, button;
            justify-content: center, button;
    justify-content-font-size: 18px;
    justify-content-font-weight: 200;
    justify-content-color: #000000;
    justify-content-width: 50%;
    justify-content-height: 45px;
    justify-content-margin: auto;
    justify-content-border: 2px;
    justify-content-border-color: #000000;
    justify-content-border-style: solid;
    justify-content-background-color: transparent;
  }
}

@media screen and (max-width: 650px) {
  .tags {
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .tags img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .tags__tagOne {
    margin-top: 5%;
    width: 40%;
    padding: 5%;
  }
  .tags__tagTwo {
    margin-top: 5%;
    width: 40%;
    padding: 5%;
  }
  .tags__tagThree {
    margin-top: 5%;
    width: 40%;
    padding: 5%;
  }
}

.name {
  margin-top: 1%;
  margin-bottom: 1%;
  max-width: 1200px;
  width: 100%;
  height: 150px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name h1 {
  color: black;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.name__line {
  height: 3px;
  width: 30%;
  background-color: #000000;
}

.check {
  margin-top: 1%;
  margin-bottom: 1%;
  max-width: 1200px;
  width: 100%;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  background-color: #ffffff;
}

.check__file {
  max-width: 1200px;
  width: 100%;
  height: auto;
  padding-left: 2%;
  padding-right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1.5px solid black;
}

.check__img {
  max-width: 1200px;
  width: 25%;
  height: auto;
  padding-left: 1%;
  padding-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check__img img {
  width: 100%;
  height: auto;
}

.check__info {
  max-width: 1200px;
  width: 60%;
  height: 250px;
  padding-left: 2%;
  padding-right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
}

.check__info h2 {
  color: black;
  margin: 1px;
  font-size: 35px;
  font-weight: 400;
}

.check__info__title {
  font-size: 40px;
  font-weight: 400;
}

.check__info h3 {
  color: black;
  margin: 1px;
  font-size: 25px;
  font-weight: 300;
}

.ready {
  margin-top: 2%;
  max-width: 400px;
  width: 100%;
  height: 100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.ready button {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  width: 100%;
  height: 50px;
  margin: auto;
  border-style: solid;
  background-color: black;
}

.total {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  height: auto;
  padding-left: 2%;
  padding-right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1.5px solid black;
}

.total__number {
  max-width: 1200px;
  width: 60%;
  height: 250px;
  padding-left: 2%;
  padding-right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
  border-right: 1.5px solid black;
}

.total__number p {
  color: black;
  font-size: 300px;
  font-weight: 300;
  text-align: center;
}

.filter {
  margin-top: 1%;
  margin-bottom: 1%;
  max-width: 1100px;
  width: 100%;
  height: 250px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  background-color: #ffffff;
}

.filter__colour {
  max-width: 1100px;
  width: 50%;
  height: 250px;
  padding-left: 2%;
  padding-right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1.5px solid black;
  border-right: 1.5px solid black;
  border-bottom: 1.5px solid black;
  border-left: 1.5px solid black;
}

.filter__colour img {
  width: 100%;
  height: auto;
}

.filter__size {
  max-width: 1300px;
  width: 50%;
  height: 250px;
  padding-left: 1%;
  padding-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1.5px solid black;
  border-right: 1.5px solid black;
  border-bottom: 1.5px solid black;
  border-left: 0.75px solid black;
}

.filter__size img {
  width: 100%;
  height: auto;
}

.filter__size a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 600px) {
  .filter {
    margin-top: 1%;
    margin-bottom: 1%;
    max-width: 1100px;
    width: 100%;
    height: 250px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .filter__colour {
    padding: 5%;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .filter__colour img {
    width: 100%;
    height: auto;
  }
  .filter__size {
    padding: 5%;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .filter__size img {
    width: 100%;
    height: auto;
  }
  .filter__size a {
    text-decoration: none;
    color: black;
  }
}

.header {
  background-image: url("/imagenesTienda/footerTienda0.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  max-width: 1300px;
  width: 100%;
  height: 500px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 0%;
  text-align: center;
  color: #ffffff;
}

.return {
  text-align: center;
  opacity: .5;
}

.return__clik {
  text-decoration: none;
  color: #000;
  font-weight: 200;
  font-size: 15px;
}

.filterOne {
  max-width: 1300px;
  width: 100%;
  height: 379px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  background-color: #fff;
}

.filterOne img {
  width: 100%;
  height: auto;
  margin: auto;
}

.filterOne__clasico {
  width: 60%;
  margin: auto;
  height: auto;
}

.filterOne__metalico {
  width: 60%;
  margin: auto;
  height: auto;
}

.filterOne__gimnasio {
  width: 60%;
  margin: auto;
  height: auto;
}

.filterOne__surf {
  width: 60%;
  margin: auto;
  height: auto;
}

@media screen and (max-width: 800px) {
  .filterOne {
    max-width: 1300px;
    width: 100%;
    height: auto;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    background-color: #fff;
  }
  .filterOne img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .filterOne__clasico {
    width: 50%;
    margin: auto;
    height: auto;
  }
  .filterOne__metalico {
    width: 50%;
    margin: auto;
    height: auto;
  }
  .filterOne__gimnasio {
    width: 50%;
    margin: auto;
    height: auto;
  }
  .filterOne__surf {
    width: 50%;
    margin: auto;
    height: auto;
  }
}

.nameFilter {
  max-width: 1100px;
  width: 100%;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nameFilter__line {
  height: 3px;
  width: 30%;
  background-color: #000000;
}

.nameFilter__title {
  padding: 2%;
  font-size: 35px;
  font-weight: bold 700;
  color: #000000;
}

.products {
  max-width: 1100px;
  width: 100%;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.product__parent {
  margin-bottom: 3%;
  padding: 2%;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 25%;
  height: auto;
}

.product__parent h2 {
  font-size: 25px;
  font-weight: 400;
  color: #000000;
  padding-left: 1%;
  padding-right: 1%;
}

.product__parent__size {
  font-size: 25px;
  font-weight: 100;
  color: #000000;
  padding-left: 1%;
  padding-right: 1%;
}

.product__parent__price {
  font-size: 25px;
  font-weight: 300;
  color: #000000;
  padding-left: 1%;
  padding-right: 1%;
}

.product__parent img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.product__parent button {
  font-size: 20px;
  font-weight: 200;
  color: #ffffff;
  width: 100%;
  height: 45px;
  background-color: #000000;
  border: 0ch;
}

@media screen and (max-width: 800px) {
  .products {
    max-width: 1100px;
    width: 100%;
    height: auto;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .product__parent {
    margin-bottom: 5%;
    padding: 5%;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    height: auto;
  }
  .product__parent h2 {
    font-size: 25px;
    font-weight: 400;
    color: #000000;
    padding-left: 1%;
    padding-right: 1%;
  }
  .product__parent__size {
    font-size: 25px;
    font-weight: 100;
    color: #000000;
    padding-left: 1%;
    padding-right: 1%;
  }
  .product__parent__price {
    font-size: 25px;
    font-weight: 300;
    color: #000000;
    padding-left: 1%;
    padding-right: 1%;
  }
  .product__parent img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  .product__parent button {
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
    width: 100%;
    height: 45px;
    background-color: #000000;
    border: 0ch;
  }
}
/*# sourceMappingURL=mainStore.css.map */